@app.route("/products")
def product_list():
    conn = get_db()
    cur = conn.cursor()

    try:
        cur.execute("SELECT id, name, price, unit FROM products")
        rows = cur.fetchall()

        products = []
        for row in rows:
            products.append({
                "id": row[0],
                "name": row[1],
                "price": row[2],
                "unit": row[3]
            })

        return render_template("products.html", products=products)

    except Exception as e:
        return f"ERROR: {e}"

    finally:
        cur.close()
        conn.close()